bitsandbytes==0.45.5
accelerate==1.6.0
datasets==3.6.0
numpy==1.26.4
packaging==25.0
pandas==2.3.1
peft==0.15.2
rdkit==2025.3.6
torch==2.5.1
torchvision==0.20.1
transformers==4.51.3
trl==0.15.2
unsloth==2025.3.14
unsloth_zoo==2025.4.4
vllm==0.7.2
wandb==0.21.0
xformers==0.0.28.post3
